<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Position</h1>

<f:flashMessages />

<table  class="tx_nursing" >
	<tr>
		<th><f:translate key="tx_nursing_domain_model_position.title" /></th>
		<th><f:translate key="tx_nursing_domain_model_position.description" /></th>
		<th><f:translate key="tx_nursing_domain_model_position.images" /></th>
		<th><f:translate key="tx_nursing_domain_model_position.topjob" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{positions}" as="position">
		<tr>
			<td><f:link.action action="show" arguments="{position : position}"> {position.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{position : position}"> {position.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{position : position}"> {position.images}</f:link.action></td>
			<td><f:link.action action="show" arguments="{position : position}"> {position.topjob}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{position : position}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{position : position}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Position</f:link.action>
</f:section>
</html>