<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<f:form method="POST" object="{filter}" objectName="filter">

	<h2>Suche ändern</h2>

	<!-- Filter: Stellenbeschreibung -->
	<div class="form-group">
		<label for="filterTypes">filterTypes</label>
		<f:form.select id="filterTypes" class="form-control" multiple="true" optionLabelField="title"
					   optionsAfterContent="true" property="types" options="{types}">
		</f:form.select>
	</div>

	<!-- Filter: Wo -->
	<div class="form-group">
		<label for="filterLocations">filterLocations</label>

		<select id="filterLocations" class="form-control" multiple="true" name="tx_nursing_list[filter][locs]">
			<optgroup label="Locations">
				<f:for each="{locations}" as="location">
					<option value="l_{location.uid}">{location.title}</option>
				</f:for>
			</optgroup>
			<optgroup label="Regions">
				<f:for each="{regions}" as="region">
					<option value="r_{region.uid}">{region.title}</option>
				</f:for>
			</optgroup>
		</select>
	</div>

	<!-- Filter: Beschäftigungsverhältnis -->
	<div class="form-group">
		<label for="filterEmployments">filterEmployments</label>
		<f:form.select id="filterEmployments" class="form-control" multiple="true" optionLabelField="title" optionsAfterContent="true" property="employments" options="{employments}">
		</f:form.select>
	</div>

	<!-- Filter: Extras -->
	<div class="form-group">
		<label for="filterExtras">filterExtras</label>
		<f:form.select id="filterExtras" class="form-control" multiple="true" optionLabelField="title" optionsAfterContent="true"
					   property="extras" options="{extras}">
		</f:form.select>
	</div>

	<f:form.submit value="Filter!"></f:form.submit>

</f:form>
